<div fxLayout.gt-md="row wrap" fxLayout.lt-md="column" fxLayoutGap="2px" fxLayoutAlign="space-around center">
  <div *ngFor="let note of notesList.reverse() | searchFilter : search"> 
          <mat-card  [style.background-color]="getBackgroundColor(note.color)" *ngIf="!note.isDeleted && !note.isArchived && note.isPined"
              ngClass.lt-md="note-smaller-screen" ngClass.gt-md="note-bigger-screen" class="extra-actions">
  
              <mat-card-title
              (click)="openDialog(note)">
                {{note.title}}
              </mat-card-title>
  
              <mat-card-content>
                  {{note.description}}
              </mat-card-content>

              <div *ngFor="let user of note.collaborators">
                      <mat-card-content>collaborators:
                           {{user.firstName}}
                          </mat-card-content>
                          </div>
  
              <mat-card-actions *ngIf="service=='advance'" >
  
                  <div style="color: black" fxLayout="row" fxLayoutAlign="space-around center"   ngClass.xs="occupy-full">
  
                      <div>
                          <mat-icon  [matMenuTriggerFor]="menu1" matTooltip="Remind Me">
                              notifications_none
                          </mat-icon>
                          <mat-menu #menu1="matMenu">
                              Reminder:
                              <button  mat-menu-item>pick date and time</button>
                              <!-- <button  mat-menu-item>Later Today</button>
                              <button  mat-menu-item>Later Today</button> -->
                          </mat-menu>
                      </div>
  
                      <div>
                          <mat-icon  matTooltip="Collaborator" (click)="addCollab(note)" >
                              person_add
                          </mat-icon>
                      </div>
  
                      <div class="color-palette" matTooltip="Change color">
                          <mat-icon >
                              color_lens
                          </mat-icon>
                          <input (change)="changeColor(note)" [formControl]="noteColor" type="color" />
                      </div>
  
                      <div>
                          <mat-icon  matTooltip="Add Image">
                              image
                          </mat-icon>
                      </div>
  
                      <div>
                          <mat-icon (click)="archiveNote(note)"  matTooltip="Archive">
                              archive
                          </mat-icon>
                      </div>
  
                      <div>
                          <mat-icon [matMenuTriggerFor]="menu"  matTooltip="More">
                              more_vert
                          </mat-icon>
                          <mat-menu #menu="matMenu">
                              <button (click)="deleteNote(note)" mat-menu-item>Delete Note</button>
                              <button  (click)="unPinNote(note)"mat-menu-item>Unpin Note</button>
                          </mat-menu>
                      </div>
                  </div>
  
              </mat-card-actions>
  
          </mat-card>
      </div>
  </div>
  <br>
  <br>
  <br>
    
<div fxLayout.gt-md="row wrap" fxLayout.lt-md="column" fxLayoutGap="2px" fxLayoutAlign="space-around center">
  <div *ngFor="let note of notesList.reverse() | searchFilter : search">
      <mat-card  [style.background-color]="getBackgroundColor(note.color)" *ngIf="!note.isDeleted && !note.isArchived && !note.isPined"
          ngClass.lt-md="note-smaller-screen" ngClass.gt-md="note-bigger-screen" class="extra-actions">

          <mat-card-title
          (click)="openDialog(note)">
            {{note.title}}
          </mat-card-title>

          <mat-card-content>
              {{note.description}}
          </mat-card-content>

             <div fxLayout="row" fxLayoutAlign="space-around center">
           <mat-card-content   *ngFor="let user of note.collaborators">
              <button mat-mini-fab >{{user.firstName.charAt(0)}}</button>
              </mat-card-content>
              </div>
  

          <mat-card-actions *ngIf="service=='advance'">

              <div style="color: black" fxLayout="row" fxLayoutAlign="space-around center" ngClass.xs="occupy-full">

                      <div>
                              <mat-icon  [matMenuTriggerFor]="menu1" matTooltip="Remind Me">
                                  notifications_none
                              </mat-icon>
                              <mat-menu #menu1="matMenu">
                                  Reminder:
                                  <button  mat-menu-item>pick date and time</button>
                                  <!-- <button  mat-menu-item>Later Today  </button>
                                  <button  mat-menu-item>Later Today   </button> -->
                              </mat-menu>
                          </div>

                  <div>
                      <mat-icon  matTooltip="Collaborator" (click)="addCollab(note)">
                          person_add
                      </mat-icon>
                  </div>

                  <div class="color-palette" matTooltip="Change color">
                      <mat-icon >
                          color_lens
                      </mat-icon>
                      <input (change)="changeColor(note)" [formControl]="noteColor" type="color" />
                  </div>

                  <div>
                      <mat-icon  matTooltip="Add Image">
                          image
                      </mat-icon>
                  </div>

                  <div>
                      <mat-icon (click)="archiveNote(note)"  matTooltip="Archive">
                          archive
                      </mat-icon>
                  </div>

                  <div>
                      <mat-icon [matMenuTriggerFor]="menu"  matTooltip="More">
                          more_vert
                      </mat-icon>
                      <mat-menu #menu="matMenu">
                          <button (click)="deleteNote(note)" mat-menu-item>Delete Note</button>
                          <button  (click)="pinNote(note)"mat-menu-item>Pin Note</button>
                      </mat-menu>
                  </div>
              </div>

          </mat-card-actions>

      </mat-card>
  </div>
</div>