<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1> 
   <div fxLayout="row" fxLayoutAlign="center">
     <div style="color: rgba(22,45,44,.71);">F</div>
     <div style="color: rgba(44, 8, 88, 0.835);">u</div>
     <div style="color: rgba(255, 81, 99);">n</div>
     <div style="color: rgb(224, 8, 116);">d</div>
     <div style="color: rgb(31, 177, 31);">o</div>
     <div style="color: rgb(9, 177, 219);">o</div>
   </div>
 </h1>
 </div>
 
 <router-outlet></router-outlet>