.card-component{
    max-width: 60%;
    min-width: 60%;
}

.card-component-xs{
    max-width: 75%;
    min-width: 75%;
}

.input-component{
    max-width: 80%;
    min-width: 80%;

}
#create{
    float: right;
}